body,
html {
  text-align: center;
  color: #393939;
}

/* Typography */
h1 {
  font-size: 4rem;
  font-weight: 200;
  text-transform: uppercase;
  padding-bottom: 5px;
}

h2 {
  margin: 1em 0;
}

.sub-heading {
  font-size: 2rem;
  margin: 1em auto; /* add space above and below the text and center to middle */
  font-weight: 200;
  width: 70%;
  max-width: 600px;
}

/* Layout */
.container {
  padding: 1em 0; /* add space above and below the container */
}

.nav-item .nav-link {
  text-transform: uppercase;
}
